<div class="fleft content-type-tite">渠道类型：</div>
<div class="fleft content-type-list">
	<div class=" content-type-item-inner">
		<div class="content-type-inner">
			<span class="fleft content-type-box J_campType" channelTypeId="">全部</span>
			<%for(var i = 0;i<data.length;i++){%>
			<span class="fleft content-type-box J_campType" channelTypeId="<%=data[i].customerTypeId%>"><%=data[i].channelTypeName%></span>
			<%}%>
		</div>
	</div>
</div>