<select id="edit-avoid-bother-customer-select-channel-type" name="channelTypeId">
	<%for(var i = 0;i<data.length;i++){%>
	<option value="<%=data[i].customerTypeId%>"><%=data[i].channelTypeName%></option>
	<%}%>
</select>