@charset "utf-8";
/* 产品库使用的公共样式 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    /* 	margin-bottom: 15px; */

}
input[type='text']::-ms-clear {
    display: none;
}
i,
em {
    font-style: normal;
}
ul,
ol {
    list-style: none;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
dt,
th {
    font-weight: normal;
}
.clear {
    clear: both;
    font-size: 0px;
    overflow: hidden;
    height: 0px;
}
.inline_block {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
input,
img,
button {
    border: none;
    outline: none;
}
textarea {
    resize: none;
    overflow: auto;
    outline: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
body {
    font-size: 12px;
    font-family: "microsoft yahei","Helvetica Neue", Helvetica, Arial, sans-serif,"宋体";
    color: #333;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
html {
    *overflow-x: auto;
    *overflow-y: scroll;
}
/* ie7 scrollbar show */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.align_left {
    text-align: left;
}
.align_center {
    text-align: center !important;
}
.align_right {
    text-align: right;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.mleft_25 {
    margin-left: 25px;
}
.mleft_15 {
    margin-left: 15px;
}
.mleft_10 {
    margin-left: 10px;
}
.mright_10 {
    margin-right: 10px;
}
.font_normal {
    font-weight: normal;
}
.v_top {
    vertical-align: top;
}
.v_middle {
    vertical-align: middle;
}
.hidden_text {
    display: none;
    overflow: hidden;
}
.hidden,
.none {
    display: none !important;
}
.hand {
    cursor: pointer;
}
.fB {
    font-weight: bold;
}
.yellow {
    color: #fd9f3a;
}
.clearCustomerBtn {
    width: 42px;
    height: 24px;
    background-color: #278bdd;
    color: #fff;
}
.ui-page-num {
    width: 30px;
    height: 22px;
    border: 1px solid #e2e2e2;
    margin: 3px 15px 0px 5px;
    position: relative;
    z-index: 100;
}
.container .content .content-main .content-table .ui-page-button {
    width: 66px;
    height: 22px;
    overflow: hidden;
    margin: 3px 10px 0 0;
    position: relative;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    color: #333;
    line-height: 22px;
    border: 1px solid #e8ebec;
    background: #fff;
}
.ft12{
    font-size: 12px;
}
.color-666 {
    color: #666;
}
.btn-blu{
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: #278bdd ;
    color: #f3f3f3;
}
.btn-blu:hover{
    background-color: #227bc8;
}

.input{
    height:30px;
    font-size: 14px;
    padding: 0 5px;
}
.min-input{
    height:25px;
    font-size: 13px;
    padding: 0 5px;
}
.min-input-min-width{
    width: 149px;
}
.min-input-lg-width{
    width: 87%;
}

.input,.min-input{
   border: 1px solid #ccc;
}
.input:focus,.min-input:focus{
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(0,0,0,0.15);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(0,0,0,0.15);
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
span{
    text-align: center;
    vertical-align: middle;
}
.table-bordered {
    border: 1px solid #ddd
}
.btn-pref{
    left:0px;
    z-index: 10;
}
.btn-next{
    right:0px;
    z-index: 10;
}
.more_select{
    list-style: none;
    display: inline-block;
    overflow: visible;
    vertical-align: middle;
    position: absolute;
    margin-left: 4px;
    z-index:101;
}
.more_select li{
    width: 149px;
    border: 1px solid #ccc;
    height: 24px;
    z-index: 101;
    overflow: hidden;
    white-space: nowrap;
    background-color: #ebebe4;
}
.one_li{
    border: 1px solid #ccc;
    position: relative;
}
.channel_input{
    width:80%;
    height: 100%;
}

.one_li:focus{
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(0,0,0,0.15);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(0,0,0,0.15);

}
.one_li > img{
    position: absolute;
    right:5px;
    height: 100%;
}
