<div class="fleft content-type-tite">地市：</div>
<div class="fleft content-type-list">
	<div class=" content-type-item-inner">
		<div class="content-type-inner">
			<%for(var i = 0;i<data.length;i++){%>
			<span class="fleft content-type-box J_campType" statId="<%=data[i].ID%>"><%=data[i].NAME%></span>
			<%}%>
		</div>
	</div>
</div>