/**µ¯´°Ö÷ÌåÍ¨ÓÃÑùÊ½ */
.popwin {
    /*-webkit-box-align: center;*/
    /*-webkit-box-orient: vertical;*/
    /*-webkit-box-pack: center;*/
    /*-webkit-perspective: 1px;*/
    /*-webkit-transition: 200ms opacity;*/
    /*/!*background-color: rgba(0, 0, 0, 0.25);*!/*/
    /*bottom: 0;*/
    /*display: -webkit-box;*/
    /*left: 0;*/
    /*overflow: auto;*/
    /*padding: 20px;*/
    /*position: fixed;*/
    /*right: 0;*/
    /*top: 0;*/
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
}
.poppage {
    width:1158px;
    -webkit-border-radius: 3px;
    -webkit-box-orient: vertical;
    -webkit-transition: 200ms transform;
    background: white;
    /*box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);*/
    /*box-shadow: 0 1px 7px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0,0,0,0.15);*/
    color: #333;
    display: -webkit-box;
    min-width: 400px;
    padding: 0;
    position: absolute;
    border-bottom: 2px dotted #ccc;
    z-index: 0;
}


.pop-page-header{
    width: 1160px;
    background-color: #288bde;
    color: #dddddd;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-size: 13px;
    padding-left: 8px;
    padding-right: 8px;
    height: 36px;
    cursor: pointer;
    margin: 0 auto;
}
.pop-page-content{
    margin: auto;
    padding: 8px;
    cursor: pointer;
}


.pop-page-header-content{
    padding: 0px 8px;
    height:100%;
    line-height: inherit;
    cursor: pointer;
}


.pop-page-header-content div,.pop-page-header-content span{
    display: inline-block;
    *display:inline;
    height: 100%;
    line-height: 36px;
    cursor: pointer;
}
.pop-page-header-content span:hover{
    color:#fff;
}
#close:hover{
    color:red;
}
.pop-page-header-content .header-content-left{
    float: left;
}
.pop-page-header-content .header-content-right{
    float:right;
}
.pop-page-header-content img{
    height:27px;
    vertical-align: middle;
}

/**µ¯´°Ö÷ÌåÍ¨ÓÃÑùÊ½  END */




/**µ¯´°ÏêÏ¸ÄÚÈÝ top*/
.head{
    background-color: #288bde;
    color: #dddddd;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-size: 13px;
    padding-left: 8px;
    padding-right: 8px;
    height: 36px;
    cursor: pointer;
    margin: 0 auto;
    line-height: 36px;
    z-index: 10;
    position: absolute;
    width: 100%;
}
.main{
    position: absolute;
    width: 1160px;
    margin: 0 auto;
    height: 100%;
    top: 0px;
    padding-top: 40px;
    left: 50%;
    margin-left: -580px;
    overflow-y: auto;
    background: #fff;
}

.pop-page-content-top > .pop-page-content-top-div{
    width:calc(30%);
    display: inline-block;
    *display:inline;
    margin-right: 39px;
}
#last{
    margin-right: 0px;
}
#poppage{
    width:1158px;
}
label{
    display: inline-block;
    *display:inline;
    font-size: 12px;
    color: #292929;
    font-weight: 700;
}
.pop-page-content-top-div > div > label{
    width:90px;
    text-align: right;
}
.input-div{
    margin-bottom: 5px;
    vertical-align: middle;
}
.pop-page-content-top-div .input-div select{
    width: 149px;
}
/**µ¯´°ÏêÏ¸ÄÚÈÝ  top  End*/



/**µ¯´°ÏêÏ¸ÄÚÈÝ  center*/
.pop-page-content-center-foot{
    padding-bottom: 8px;
    border-bottom: 2px dotted #ccc;
    margin-bottom: 8px;
    margin-top: 30px;
}
.pop-page-content-center-top-div .input-div label{
    width:90px;
    text-align: right;
}
.pop-page-content-center .pop-page-content-center-center .pop-page-content-center-center-div{
    width:calc(32%);
    display: inline-block;
    *display:inline;
    margin-right: 12px;
}
#pop-page-content-center-center-div-last{
    margin-right: 0px;
}
.pop-page-content-center-center-div .input-div label{
    width:148px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.pop-page-content-center-center-div .input-div input{
    width:124px;
}
.pop-page-content-center-center-div .input-div select{
    width:124px;
}

.pop-page-content-center-foot-btn{
    margin-bottom: 8px;
}
.pop-page-content-center-foot-btn span{
    width: 70px;
    height: 28px;
    border: 1px solid #ccc;
    display: inline-block;
    line-height: 28px;
    font-weight: 700;
}
.pop-page-content-center-foot-btn span:hover,.pop-page-content-center-foot-btn span.active{
    background-color: #0C84E3;
    color:#f3f3f3;
    border: 1px solid #0c74c9;
}

.pop-page-content-center-foot-btn .btn-div{
    margin: auto;
    width:80px;
    height: 25px;
}
.pop-page-content-center-foot-btn .btn-div button{
    font-size: 14px;
    text-align: center;
    display: inline-block;
    *display:inline;
    width: 100%;
    height:100%;
}
/**µ¯´°ÏêÏ¸ÄÚÈÝ  center  End*/



/**µ¯´°ÏêÏ¸ÄÚÈÝ  foot  */

.pop-page-content-foot{
    height:106px;
    margin-bottom: 15px;
}
.pop-page-content-foot .pop-page-content-foot-content{
    position: relative;
    height:100%;
}
.pop-page-content-foot .pop-page-content-foot-content > div{
    height:100%;
    vertical-align: middle;
    position: absolute;
}
.pop-page-content-foot-btn-div{
    position: absolute;
    width:25px;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-perspective: 1px;
    display: -webkit-box;
}
.pop-page-content-foot-content-div{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height:30px;
}
.pop-page-content-foot-btn-div span{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    position: relative;
    width: 15px;

}
.pop-page-content-foot-btn-div span:hover{
    background-color: #0c74c9;
    color:#f3f3f3;
}
.pop-page-content-foot-content-div-list{
    height: 100%;
    padding: 0 25px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.pop-page-content-foot-content-div-list-div{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.pop-page-content-foot-content-div-list-div .campseg-li-div{
    width: 176px;
    height: 98%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pop-page-content-foot-content-div-list-div .campseg-li-div > div{
    width: 165px;
    height: 99%;
    border: 1.5px solid #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    margin: 0 auto;
}
.pop-page-content-foot-content-div-list-div .campseg-li-div > div:hover,.pop-page-content-foot-content-div-list-div .campseg-li-div > div .active{
    border: 1.5px dashed #0c74c9;
}
.content-num-div{
    position: absolute;
    width:30px;
    height:30px;
}
.content-num-div > img{
    width: 100%;
    z-index: 1;
}
.content-num-div > span{
    position: absolute;
    left: 0px;
    z-index: 10;
    color: #f3f3f3;
}
.pop-page-content-foot-content-div-list-div ul{
    margin: 22px 9px;
    width: 141px;
}
.pop-page-content-foot-content-div-list-div ul li{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pop-page-content-foot-content-div-list-div ul li span.content-title{
    display: inline-block;
    text-align: left;
    *display:inline;
    width:55px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pop-page-content-foot-content-div-list-div ul li span.span-title{
    font-size: 13px;
    font-weight: 700;
}
.pop-page-content-foot-content-div-list-div ul li span.span-content{
    font-size: 12px;
    color: #5b5b5b;
    width: 113px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.content-status-title{
    font-size: 13px;
    font-weight: 700;
}
.content-status-content{
    font-size: 13px;
    color:orange;
}

table.table.table-striped.table-bordered input {
    text-align: center;
}
table.table.table-striped.table-bordered td {
    text-align: center;
}
#award{
    background: #f3f3f3;
}
.award ,.score{
    background: #ebebe4;
}
/**µ¯´°ÏêÏ¸ÄÚÈÝ  foot  End*/

#award td input,#score td input{
    width:40px;
}
.checkbox_li{
    margin-left: 5px;
    vertical-align: middle;
}
.min-input-lg-width{
    width: 1034px;
}