
<div class="left-right-box">
	<span class="color-333 left ft14">短信推荐用语：</span>
	<div class="right text-area-box">
		<textarea></textarea>
		<p class="ft12 color-999 text-mes">您还可以输入<span>240</span>个字</p>
	</div>
</div>