
<div role="tabpanel" id="channelContentDiv_<%=data.channelId%>" class="tab-pane active">
<ol class="opera-ol" id="channelId<%=data.channelId%>_vopAdivInfoId">
</ol>
<div class="left-right-box">
	<span class="color-333 left ft14">推荐用语：</span>
	<div class="right text-area-box">
		<textarea name="content913" id="content913" value=""></textarea>
		<p class="ft12 color-999 text-mes">您还可以输入<span id="wordSize913">50</span>个字</p>
	</div>
</div>
<div class="btns-wrp over-hidden">
	<p class="fright">
		<a href="javascript:;" class="mright_10 btn60-26 btn-a btn-a-blue" id="channelSaveBtn913">确定</a>
		<a href="javascript:;" class="btn60-26 btn-a btn-a-white" id = "previewBtn913">预览</a>
	</p>
	
</div>


<!-- VOP-预览弹窗 -->
<div class="vop-dilog" id="channelVopPrevDialog" style="display:none;">
    <span class="closeBtnCir closeBtnCir-VOP" title="关闭" id="closePreview_channelId_<%=data.channelId%>"><i>&times;</i></span>
	<!--左侧-->
	<div class="vop-left vop-1 fleft">
			<div class="vop-bg"></div>
			<div class="vop-bot">
				<span id="leftPlanName913" class="vop-name"></span>
			</div>
		</div>
	<!--右侧-->
	<div class="vop-right fleft">
		<div class="vop-1">
			<div class="vop-bg"></div>
			<div class="vop-bot">
				<span id="rightPlanName913" class="vop-name"></span>
			</div>
		</div>
		<div class="vop-2">
			<h4></h4>
			<div class="vop-2-con">
				<div class="row">
					<div class="col-xs-1">推荐业务</div>
					<div id="topPlanName913" class="col-xs-10 color-999"></div>
				</div>
				<div class="row">
					<div class="col-xs-1">推荐原因</div>
					<div id="previewContent913" class="col-xs-10 color-999"></div>
				</div>
				<p>
					<img src="../../assets/images/put/vop-2-btn.png" alt="" />
				</p>
			</div>
		</div>
	</div>
</div>

<div class="ui-widget-overlay ui-front" style="display:none;"></div>
</div>
