<div class="approval-tactics-title">目标客户群</div>
			<div class="approval-table-div">
				<table class="approval-tactics-table">
					<tr class="tactics-table-tr">
						<th class="tactics-table-th" width="10%">客户群名称</th>
						<td colspan="3"><%=data.custom_group_name%></td>
					</tr>
					<tr class="tactics-table-tr">
						<th class="tactics-table-th" width="10%">渠道名称</th>
						<th class="tactics-table-th" width="20%">客户群规模</th>
						<th colspan="3" class="tactics-table-th" width="20%">最新数据日期</th>
					</tr>

				<%for(var i in data.mtlChannelDefs){
					if(isNaN((parseInt(i)+1))){
						break;
					}
				%>
				<tr class="tactics-table-tr">
					<td class="align_center"><%=data.mtlChannelDefs[i].CHANNEL_NAME%></td>
					<td class="align_center"><%=data.mtlChannelDefs[i].custgroup_number%></td>
					<td colspan="3" class="align_center"><%=data.max_data_time%></td>
				</tr>
			<%}%>
			</table>
</div> 