/**
*头部模板
*/
.header {
	width: 100%;
	background-color: #fff;
}

.header .inner {
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	position: relative;
}

.header .inner .logo {
	float: left;
	width: 154px;
	height: 50px;
	margin: 10px auto 0 20px;
	position: relative;
}

.header .inner .logo img {
	height: 42px;
	display: none;
}

.header .inner .loginfo {
	width: 82px;
	height: 60px;
	line-height: 60px;
	margin: 0 10px 0 auto;
	position: relative;
	float: right;
	clear: right;
	text-align: right;
}

.header .inner .loginfo>li {
	overflow: 0 10px;
	margin: relative;
	position: relative;
	text-align: left;
	font-size: 12px;
	cursor: pointer;
	line-height: inherit;
	display: inline-block;
	display: none;
	z-index: 3;
}

.loginfo .J_userInfo {font-size: 10px;}
.loginfo>li.user-box-li>a {
	height: 60px;
	position: relative;
	padding: 0 10px;
	margin: 0;
	text-align: left;
	font-size: 12px;
	cursor: pointer;
	color: #288bde;
	display: inline-block;
	text-decoration: none;
	z-index: 2;
	border: 1px solid #fff;
}

 .loginfo>li .slidedownCT {
	width: 298px;
	overflow: hidden;
	position: absolute;
	top: 60px;
	right: 0;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	display: none;
	z-index: 120;
	cursor: auto;
	line-height: 20px;
}

.header .inner .loginfo>li .slidedownCT .userImg {
	width: 94px;
	height: 94px;
	overflow: hidden;
	margin: 10px;
	position: relative;
	display: inline-block;
}

.header .inner .loginfo>li .slidedownCT dl.userinfo {
	display: inline-block;
	margin-top: 10px;
	vertical-align: top;
}

.header .inner .loginfo>li .slidedownCT dl.userinfo dt {
	text-align: left;
	font-size: 14px;
	cursor: bold;
	color: #000;
	line-height: 24px;
}

.header .inner .loginfo>li .slidedownCT dl.userinfo dd {
	padding: 0 0 5px 0;
	margin: 0;
	text-align: left;
	font-size: 14px;
	cursor: normal;
	color: #000;
	line-height: 22px;
}

.header .inner .loginfo>li .slidedownCT dl.userinfo dd .icon_activeuser
	{
	width: 22px;
	height: 24px;
	overflow: hidden;
	margin: 0;
	position: relative;
	display: inline-block;
}

.header .inner .loginfo>li .slidedownCT dl.userinfo dd .activeuser {
	width: 107px;
	height: 20px;
	overflow: hidden;
	margin: 0;
	position: relative;
	text-align: center;
	font-size: 12px;
	cursor: normal;
	color: #fff;
	line-height: inherit;
	display: inline-block;
	background-color: #fdcb44;
}

.logout {border-top: 1px solid #e1e1e1;clear: both;padding: 10px 0;text-align: center;}
.logout li{display: inline-block;vertical-align: middle;border-right: 1px solid #e1e1e1;}
.logout li a {padding: 0 15px;color: #282828;}
.logout li a:hover {color: #288bde;}
.logout li.last{border-right: none;}

.header .inner .loginfo>li .slidedownCT .newfavList {
	border-bottom: 1px solid #e1e1e1;
}

.header .inner .loginfo>li .slidedownCT .newfavList dt {
	width: auto;
	height: 38x;
	overflow: hidden;
	margin: 0;
	position: relative;
	text-align: center;
	font-size: 12px;
	cursor: bold;
	color: #000;
	line-height: 38px;
	border-bottom: 1px solid #e1e1e1;
}

.header .inner .loginfo>li .slidedownCT .newfavList dd {
	text-align: left;
	font-size: 12px;
	cursor: normal;
	color: #333;
	line-height: 34px;
	margin: 0 8px;
	text-indent: 10px;
	border-bottom: 1px solid #e7ebec;
}

.header .inner .loginfo>li .slidedownCT .newfavList dd a {
	float: right;
	color: #288bde;
	border: none;
	height: auto;
}

.header .inner .loginfo>li .slidedownCT .newfavList dd:last-child {
	border-bottom: none;
}

.header .inner .loginfo>li .slidedownCT .gotoFav {
	text-align: right;
	padding: 10px 15px 10px 10px;
}

.header .inner .loginfo>li .slidedownCT .gotoFav .set {
	float: left;
	color: #288bde;
}

.header .inner .loginfo>li.user-box-li{
	display: inline-block;
}

.header .inner .loginfo>li.active>a,.header .inner .loginfo>li:hover>a {
	background-color: #fff;
	border: 1px solid #e1e1e1;
	border-bottom: none;
	z-index: 2;
}

.header .inner .loginfo>li.active .slidedownCT,.header .inner .loginfo>li:hover .slidedownCT
	{
	display: block;
}

.header .inner .loginfo .icon_arrDown {
	padding: 0;
	margin: 0px 0 0 5px;
	display: inline-block;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top-color: #288bde;
	vertical-align: middle;
}

.header .inner .nav {
	float:right;
}

.header .inner .nav li {
	width: auto;
	height: 60px;
	line-height: 60px;
	position: relative;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	color: #8c8c8c;
	display: inline-block;
	padding: 0 15px;
}

.header .inner .nav li .icon_arrDown {
	width: auto;
	height: auto;
	overflow: hidden;
	margin: -3px 0 0 0;
	position: absolute;
	top: inherit;
	left: 43%;
	right: inherit;
	z-index: 99;
	display: none;
	bottom: 0px;
	border: 5px solid transparent;
	border-bottom: 5px solid #278bdd;
}

.header .inner .nav li:hover {
	background-color: #e8eced;
	color: #278bdd;
	z-index: 1;
}

.header .inner .nav li.active {
	background-color: #dbdbdb;
	color: #278bdd;
	z-index: 1;
}

.header .inner .nav li.active .icon_arrDown {
	display: block;
}

.header .subnav {
	width: 100%;
	min-width: 1200px;
	height: 32px;
	font-size: 12px;
	margin: 0 auto;
	position: relative;
	line-height: 32px;
	background-color: #278bdd;
}

.header .subnav .width950 {
	width: 960px;
	height: auto;
	margin: 0 auto;
	position: relative;
	text-align: right;
}

.header .subnav ul {
	width: auto;
	height: 32px;
	overflow: hidden;
	margin: 0 auto;
	display: none;
}
.header .subnav ul.active{
	display: inline-block;
}
.header .subnav ul li {
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	color: #fff;
	line-height: 32px;
	display: inline-block;
	height: 32px;
	padding: 0 20px;
}

.header .subnav ul li:hover {
	background-color: #009bf5;
}

.header .subnav ul li.active {
	background-color: #009bf5;
}

.header .subnav .ul02 {
	left: 400px;
}
.J_userDept {
	width: 150px;
}
.header .subnav ul.sun-nav-product{margin-right: 200px;}
