	<span typeId="" class="active">不限</span>
	<%if(data.length > 0){%>
		<%for(var i=0;i<data.length;i++){%>
			<span planTypeId="<%=data[i].typeId%>" typePid="<%=data[i].typePid%>" ><%=data[i].typeName%></span>
		<%}%>
	<%}%>