<div class="fleft content-type-tite">状态：</div>
<div class="fleft content-type-list">
	<div class=" content-type-item-inner">
		<div id="statIdDiv" class="content-type-inner">
			<span class="fleft content-type-box J_campType" campsegStatId="">全部</span>
			<%for(var i = 0;i<data.length;i++){%>
			<span class="fleft content-type-box J_campType" campsegStatId="<%=data[i].campsegStatId%>"><%=data[i].campsegStatName%></span>
			<%}%>
		</div>
	</div>
</div>