/**
 * reset
 */
 @charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
	color: #333;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}
html {
	*overflow-x: auto;
	*overflow-y: scroll;
} /* ie7 scrollbar show */
input[type='text']::-ms-clear{display:none;}
i,em {
	font-style: normal;
}
ul,ol {
	list-style: none;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

dt,th {
	font-weight: normal
}
input,img,button {
	border: none;
	outline: none;
}

textarea {
	resize: none;
	overflow: auto;
	outline: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}
.clear {
	clear: both;
	font-size: 0px;
	overflow: hidden;
	height: 0px;
}
.inline-block {
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.block{
	display: block;
}
.over-hidden{
	overflow: hidden;
}
.clear-both{
	clear: both;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
.text-left{
	text-align: left !important;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.align_left {
	text-align: left;
}

.align_center {
	text-align: center !important;
}

.align_right {
	text-align: right;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.mleft_25 {
	margin-left: 25px;
}

.mleft_15 {
	margin-left: 15px;
}
.mb_0{
	margin-bottom:0 !important;
}
.mleft_10 {
	margin-left: 10px;
}

.mright_10 {
	margin-right: 10px;
}
.pright_0{
	padding-right:0 !important;
}
.pleft_0{
	padding-left:0 !important;
}
.mright_5{
	margin-right: 5px;
}
.mbot_15{
	margin-bottom: 15px;
}
.mtop_47{
	margin-top: 47px;
}
.mtop_20{
	margin-top: 20px;
}
.pright_5{
	padding-right: 5px;
}
.font_normal {
	font-weight: normal;
}

.v_top {
	vertical-align: top
}

.v_middle {
	vertical-align: middle;
}

.hidden_text {
	display: none;
	overflow: hidden;
}

.hidden,.none {
	display: none !important;
}

.hand {
	cursor: pointer;
}
.bg-fa{
	background: #fafafa;
}
.bg-fff{
	background: #fff;
}
.bg-ebf0f3{
	/* background: #ebf0f3; */
	background:#f1f9fb;
}
.bg-nav{
	background: #ebf0f3;
}
.ft12{
	font-size: 12px;
}
.ft14{
	font-size: 14px;
}
.ft16{
	font-size: 16px;
}
.ftB{
	font-weight:bold;
}
.ft18{
	font-size: 18px;
}
.color-333{
	color: #333;
}
.color-666{
	color: #666;
}
.color-999{
	color: #999;
}
.color-orange{
	color: #ffa100;
}
.color-red{
	color: #fe0000;
}
.unline{
	text-decoration: underline;
}
.border-e9{
	border:1px solid #e9e9e9;
}
.border-top-0{
	border-top:0 !important;
}
.input-error{
	border-color:#f04124 !important;
}
.container-nopadd{padding:0 !important;}


.userLogin-body{
	width: 100%;
	height: 100%;
	background-color: #f8fafc;
	margin:0px auto;
	overflow: hidden;
	background-image: url('../../assets/images/login/login-bg.png');
	background-position-y:-30px;
	}
.userLogin-box{
	width:1050px;
	margin:0 auto;
	overflow:hidden;
	clear:both;
	height:460px;
	position:relative;
	top:-50%;
	margin-top:130px;
}
.loginRight-box{
	width:420px;
	height:380px;
	background:rgba(0,0,0,0.3);
	margin-top:34px;
}
.login-logo{
	padding:14px 0 30px 0;
}
.loginRight-box ul{
	padding:10px 40px 46px 40px;
}
.loginLeft-box{
	width:529px;
	height:454px;
	background-image: url('../../assets/images/login/login-left.png');
}
.psd-li{
	overflow:hidden;
	padding:0 10px 40px 20px;
}
.psd-li label{
	color:#fff;
}
.psd-li label input{
	margin:-2px 5px 0 0;
	position:relative;
	top:2px;
}
.psd-li a{
	color:#fff;
}
input.login-input{
	width: 300px;
	height: 45px;
	margin-bottom:27px;
	text-indent:13px;
	font-size;14px;
	color:#666;
}
input.btn-loginSubmit{
	background-color:#ff9414;
	color: white;
	font-size: 18px;
	border: none;
	text-align: center;
	border-radius:2px;
}

