<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "framework/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<!--
	输出方式
	org.apache.log4j.ConsoleAppender (控制台)
	org.apache.log4j.FileAppender (文件) 
	org.apache.log4j.RollingFileAppender(固定大小的文件)
	org.apache.log4j.DailyRollingFileAppender (每天产生一个日志文件)
	org.apache.log4j.WriterAppender (将日志信息以流格式发送到指定地方) 
	-->
	<!-- 
	输出格式
	%p：输出日志信息的优先级，即DEBUG，INFO，WARN，ERROR，FATAL。
	%d：输出日志时间点的日期或时间，默认格式为ISO8601，也可以在其后指定格式，如：%d{yyyy/MM/dd HH:mm:ss,SSS}。
	%r：输出自应用程序启动到输出该log信息耗费的毫秒数。
	%t：输出产生该日志事件的线程名。
	%l：输出日志事件的发生位置，相当于%c.%M(%F:%L)的组合，包括类全名、方法、文件名以及在代码中的行数。例如：test.TestLog4j.main(TestLog4j.java:10)。
	%c：输出日志信息所属的类目，通常就是所在类的全名。
	%M：输出产生日志信息的方法名。
	%F：输出日志消息产生时所在的文件名称。
	%L:：输出代码中的行号。
	%m:：输出代码中指定的具体日志信息。
	%n：输出一个回车换行符，Windows平台为"rn"，Unix平台为"n"。
	%x：输出和当前线程相关联的NDC(嵌套诊断环境)，尤其用到像java servlets这样的多客户多线程的应用中。
	%%：输出一个"%"字符。
	另外，还可以在%与格式字符之间加上修饰符来控制其最小长度、最大长度、和文本的对齐方式。如：
	1) c：指定输出category的名称，最小的长度是20，如果category的名称长度小于20的话，默认的情况下右对齐。
	2)%-20c："-"号表示左对齐。
	3)%.30c：指定输出category的名称，最大的长度是30，如果category的名称长度大于30的话，就会将左边多出的字符截掉，但小于30的话也不会补空格。
	-->
	<!-- 输出到控制台中 -->
	<appender name="logConOut" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<param name="threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n" />
		</layout>
	</appender>
	<!-- 全部日志输出到文件中 -->
	<appender name="allLogOut" class="org.apache.log4j.DailyRollingFileAppender">
		<!--日志文件路径在tomcat的logs文件夹下 -->
		<param name="file" value="${catalina.home}/logs/mobbyapi/mobbyapi" />
		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="append" value="true" />
		<param name="datePattern" value="'_'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5r [%t] [%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} METHOD:%l%n%m%n" />
		</layout>
	</appender>
	
<!-- 	<appender name="asyncOut" class="org.apache.log4j.AsyncAppender"> -->
<!-- 		<param name="bufferSize" value="8192" /> -->
<!-- 		<appender-ref ref="allLogOut" /> -->
<!-- 	</appender> -->
	<!-- 系统报错日志 -->
	<appender name="errorLogOut" class="org.apache.log4j.DailyRollingFileAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="file" value="${catalina.home}/logs/mobbyapi/mobbyapi-error" />
		<param name="append" value="true" />
		<param name="threshold" value="ERROR" />
		<param name="datePattern" value="'_'yyyy-MM'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} METHOD:%l%m%n" />
		</layout>
	</appender>
	<!-- 慢方法日志 -->
	<appender name="slowMethodLogOut" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${catalina.home}/logs/mobbyapi/mobbyapi-slow" />
		<param name="append" value="true" />
		<param name="threshold" value="INFO" />
		<param name="datePattern" value="'_'yyyy-MM'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} METHOD:%l%m%n" />
		</layout>
	</appender>
	
	<!-- 用户操作日志 org.apache.log4j.jdbc.JDBCAppender-->
	<!-- 
	<appender name="operationLogOut" class="com.xes.framework.log.SpringJDBCAppender">
		<param name="URL" value="jdbc:mysql://10.1.250.163:3306/bjmobby0413" />
		<param name="driver" value="com.mysql.jdbc.Driver" />
		<param name="user" value="bjmobby" />
		<param name="password" value="bjmobbypwd" />
		<param name="sql" value="insert into tb_web_service_logs(id,class_name,method) values('%d','%t','%r');" />
	</appender>
	 -->
	<!-- 
	additivity 是否输出到顶层包定义的Appender中
	将名称为errorLog的logger，输出到errorLogOut的appender
	Logger log = Logger.getLogger("errorLog")
	-->
	<logger name="errorLog" additivity="true">
		<level class="org.apache.log4j.Level" value="ERROR" />
		<appender-ref ref="errorLogOut" />
	</logger>
	<!-- 慢方法 -->
	<logger name="slowLog" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="slowMethodLogOut"/>
	</logger>
	<!-- 
	<logger name="operationLog">
		<level value="INFO" />
		<appender-ref ref="operationLogOut" />
	</logger>
	 -->
	<logger name="net.rubyeye">
		<level class="org.apache.log4j.Level" value="ERROR" />
	</logger>
	<logger name="com.xes">
		<level  value="INFO" />
	</logger>
	<logger name="com.google.code">
		<level  value="ERROR" />
	</logger>
	<logger name="org.apache.zookeeper">
		<level  value="ERROR" />
	</logger>
	<logger name="org.springframework">
		<level  value="DEBUG" />
	</logger>
	<logger name="com.alibaba.dubbo">
		<level  value="INFO" />
	</logger>
	<logger name="org.springframework.jdbc">
		<level  value="DEBUG" />
	</logger>
	
	<!-- 根默认会自动构建一个 root,输出日志到控制台，供logger继承 -->
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="logConOut" />
		<appender-ref ref="allLogOut" />
	</root>
</log4j:configuration>